<subnav>
    <div>
        <div id="logged-in" >
            
            <div id="welcome-msg"></div>
            <button id="logout-btn">Logout</button>
        </div>

        <div id="admin-div">
            <button id="admin-btn">Admin Page</button>
        </div>

        <div id="logged-out"> 

            <label for="username">Username:</label>
            <input type="text" id="username">
    
            <label for="password">Password:</label>
            <input type="password" id="password">
    
            
    
            <button id="login-btn">Log In</button>

            <label  for="sign-up-btn">Or:</label>
            <button id="sign-up-btn">Sign Up</button>
    
        </div>
            
    </div> 


</subnav>

<script src="../components/subnav/subnav.js"></script>


<body>