.thread-title a {
    font-family: Rubik;
    margin: 0 10 5 10;
    text-decoration: none;
    color: rgb(37, 116, 85);
    
    font-size: x-large;
}

p {
    font-style: normal;
    font-size: smaller;
}

.user-info {
    border-left: 2px solid #690d0d; 
    
}



